<h3>About Me</h3>

<p>Hi everyone! I'm (almost) a graduate of the University of North Carolina where I studied computer science and astrophysics. This summer, I'll be working at Viget's Durham office as a Rails Dev Intern. On this blog, I'll be keeping track of the projects that I work on, the different technologies and resources that I'm learning and anything that I generally find interesting and relevant.</p>

<h4>Recent Posts</h4>

<ul>
  {% for post in site.posts limit:5 %}
    <li><a href="{{ post.url }}">{{ post.title}}</a></li>
  {% endfor %}
</ul>
